.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

}

.Label {
  font-weight: bold;
  display: block; /* so, it takes full width */
  margin-bottom: 8px;

}

.InpElem {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px; /* top-bottom, then left and right */
  box-sizing: border-box;
}

.InpElem:focus {
  outline: none;
  background-color: #ccc;

}