/*********************************************************/
/* The App structure is according to:                    */
/*                                                       */
/*     Maximilian Schwarzmüller                          */
/*                                                       */
/* https://www.udemy.com/user/maximilian-schwarzmuller/  */
/*********************************************************/

.Logo {
  background-color: white;
  padding: 8px;             /* around the image */
  height: 100%;             /* the height of the div - Toolbar*/ 

  box-sizing: border-box;   /* accepting padding as well */
  border-radius: 5px;
}

.Logo img {
  height: 100%;             /* Prevent inherent height, which is higher */
}